{:images-uris ["https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Clojure_logo.svg/1024px-Clojure_logo.svg.png"
               "https://images.squarespace-cdn.com/content/v1/56d5457d8259b57a20245e80/1601292966362-64C0QOLKVLD248Q5UFOD/ff14+new+player+experience.jpg?format=1500w"
               "https://sm.ign.com/ign_br/news/a/after-bein/after-being-literally-too-popular-to-handle-final-fantasy-14_auh5.jpg"]}
